<link href="/style.css" rel="stylesheet" type="text/css" />

<a href='/'>Back to Form</a>
<br />
<div class='container'>
  <ul style="font-weight: bold;">
    <li>State</li>
    <li>Visited?</li>
    <li>License seen in LA?</li>
  </ul>

  <ul>
    <% @states.each do |state| %>
      <li class='left'><%= state.name %></li>
      <li><%= state.visited? %></li>
      <li><%= state.license_plate_seen? %></li>
      <br />
    <% end %>
  </ul>
</div>
