<ul style="font-weight: bold;">
  <li>State</li>
  <li>Visited?</li>
  <li>License seen in LA?</li>
</ul>

<ul>
  <% @states.each do |state| %>
    <li class='left'><%= state.name %></li>
    <li><%= state.visited? %></li>
    <li><%= state.license_plate_seen? %></li>
    <br />
  <% end %>
</ul>

<br />
<br />
<a href='/'>Back to Form</a>

<style>
  ul { padding: 0; }
  li {
    display: inline-block;
    margin: 5px;
    width: 80px;
    text-align: center;
  }
  .left { text-align: left; }
</style>
